<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- the targets to write to -->

	<targets>
		<!-- write logs to a file -->
		<target xsi:type="File" name="allfile" fileName="X:\Code\Github\Meet.API\Meet.API\logs\nlog-all-${shortdate}.log"
				layout="${longdate} [${uppercase:${level}}] ${logger}|${message} ${exception:format=tostring}" />	
		
		<!-- write logs to a console -->
		<target xsi:type="ColoredConsole"
				name="String"
				encoding="Encoding"
				layout="Layout"
				header="Layout"
				footer="Layout"
				useDefaultRowHighlightingRules="Boolean"
				errorStream="Boolean"
				enableAnsiOutput="Boolean"
				detectConsoleAvailable="Boolean"
				detectOutputRedirected="Boolean">
			<highlight-row condition="Condition" backgroundColor="Enum" foregroundColor="Enum"/>
			<!-- repeated -->
			<highlight-word text="String" condition="Condition" backgroundColor="Enum" foregroundColor="Enum"
							ignoreCase="Boolean" regex="String" wholeWords="Boolean" compileRegex="Boolean"/>
			<!-- repeated -->
		</target>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!-- All logs, including from Microsoft -->
		<logger name="*" minlevel="Info" writeTo="allfile" />
		<logger name="*" minlevel="Warn" writeTo="ColoredConsole" />
	</rules>
	
</nlog>